---
import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request);
import { Icon } from 'astro-icon/components'
---


{
  session &&
    <header>
      <nav>
        <ul>
          <li><a title="Home" href="/"><Icon class="icon" name="home" /></a></li>
          <li><a title="Profile" href="/profile"><Icon class="icon" name="user" /></a></li>
          <li><a title="Logout" class="logout" href="/logout"><Icon class="icon" name="logout" /></a></li>
        </ul>
      </nav>
    </header>
}

<style>
  header {
    background-color: #333;
    color: white;
    padding: 10px;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
  }

  nav ul li {
    margin-right: 10px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
</style>

<script>
    const logoutBtn = document.querySelector('.logout') as HTMLAnchorElement;
    const { signOut } = await import("auth-astro/client")
    logoutBtn?.addEventListener('click', async (e) => {
        e.preventDefault();
        await signOut();
        window.location.replace('/');
    });
</script>


